* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background: rgb(27, 23, 23);
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: orangered;
}

/* HERO */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: whitesmoke;
}

.hero-text{
    width: 50%;
}

.hero-text h2{
    font-size: 32px;
    margin-bottom: 15px;
}

.hero-text button{
    margin-top: 20px;
    background-color: orangered;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-text button:hover{
    background-color: saddlebrown;
    transform: scale(1.03);
    transition: 400ms;
}

.hero-image img{
    width: 300px;
    min-height: 300px;
}

/* OUR PRODUCTS */
.products {
    padding: 60px 40px;
    text-align: center;
}

.product-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.product {
    background: #f1f2f6;
    padding: 20px;
    width: 240px;
    border: 2px solid whitesmoke;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.product h3 {
    margin: 15px 0 8px;
}

.product button {
    margin-top: 10px;
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.product button:hover {
    background: saddlebrown;
    transform: scale(1.03);
    transition: 400ms;
}

/* FOOTER */
footer {
    background: rgb(27, 23, 23);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}